body {
  margin: 0;
}
#icon a:hover {
  background-color: silver;
  color: #000;
}
#icon {
  padding: 10px;
  background-color: DarkSlateGrey; 
  position: relative; 
    text-decoration-color: whitesmoke;
}

#header {
  background-color: DarkSlateGrey;
  font-family: 'Lucida Console', Courier, monospace;
  padding: 20px;
  margin: 0;
  text-align: center;
}

#para1 {

  border: 3px solid black;
  outline: lightslategray 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  padding: 20px;

  text-align: center;
}




